@font-face {
  font-family: 'HelveticaNeueLTArabic-Bold';
  src: url(../fonts/HelveticaNeueLTArabic-Bold.ttf);
}
@font-face {
  font-family: 'HelveticaNeueLTArabic-Roman';
  src: url(../fonts/HelveticaNeueLTArabic-Roman.ttf);
}
@font-face {
  font-family: 'HelveticaNeueLTArabic-Light';
  src: url(../fonts/HelveticaNeueLTArabic-Light.ttf);
}